.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
 height: 100%;
  display: flex;
}

.text-input {
  width: 100%;
  margin-right: 5px;
}

.text-output {
  width: 100%;
  margin-left: 5px;
}